#jinja2: trim_blocks: True, rstrip_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if nginx_gzip is defined and
      nginx_gzip.enabled is defined and
      nginx_gzip.enabled %}
gzip                on;
  {% for key, value in nginx_gzip.options.items() %}
    {% if value | bodsch.core.type == "list" %}
{{ key }}
{{ value | join('\n') | indent(4, first=True) }};
    {% elif value | bodsch.core.type == "bool" %}
{{ key.ljust(18) }}  {{ value | bool | bodsch.core.config_bool(true_as='on', false_as='off') }};
    {% else %}
{{ key.ljust(18) }}  {{ value }};
    {% endif %}
  {% endfor %}
{% else %}
# gzip on;
{% endif %}
