#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if nginx_upstreams | count > 0 %}
  {% for upstream in nginx_upstreams %}
    {% if upstream['description'] is defined and upstream['description'] | string | length > 0 %}
# {{ upstream['description'] }}
    {% endif %}
upstream {{ upstream.name }} {
  {% if upstream.strategy is defined %}
  {{ upstream.strategy }};
  {% endif %}
  {% for server in upstream.servers %}
  server {{ server }}{% if upstream.options is defined and upstream.options | length > 0 %} {{ upstream.options.rjust(30) }}{% endif %};
  {% endfor %}
  {% if upstream.keepalive is defined %}
  keepalive {{ upstream.keepalive }};
  {% endif %}
}

  {% endfor %}
{% endif %}
