#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
{# https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_cache_path #}
{% if nginx_http.proxy.cache_path is defined and
      nginx_http.proxy.cache_path | string | length > 0 %}

  {% if nginx_http.proxy.cache_path | bodsch.core.type == "string" %}
  proxy_cache_path              {{ nginx_http.proxy.cache_path }};
  {% endif %}
  {% if nginx_http.proxy.cache_path | bodsch.core.type == "list" %}
    {% for cache in nginx_http.proxy.cache_path %}
      {% set cache_options = "levels=1:2 keys_zone=default_cache:10m" %}
      {% if cache.options is defined %}
        {% if cache.options | bodsch.core.type == "string" %}
          {% set cache_options = cache.options %}
        {% endif %}
        {% if cache.options | bodsch.core.type == "list" %}
          {% set cache_options = cache.options | join(' ') %}
        {% endif %}
      {% endif %}
  proxy_cache_path              {{ cache.path }}
    {{ cache_options }};
    {% endfor %}
  {% endif %}
{% endif %}
