#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
{# https://nginx.org/en/docs/http/ngx_http_map_module.html #}
{% if nginx_http.maps is defined and
      nginx_http.maps | bodsch.core.type == "list" %}

  {% for m in nginx_http.maps %}
    {% set _mappings = m.get("mapping") %}
    {% if _mappings is defined and
          _mappings | bodsch.core.type == "list" and
          _mappings | count > 0 %}
      {% if m.description is defined and
            m.description | string | length > 0 %}
  # {{ m.description }}
      {% endif %}
  map ${{ m.name }} ${{ m.variable }} {
    {% for m in _mappings %}
    {{ "%-35s %s;" | format(
      '"' + m.source + '"',
      m.result
    ) }}
    {% endfor %}
  }
    {% endif %}
  {% endfor %}
{% endif %}
