# {{ ansible_managed }}

{% import 'jinja_macros.j2' as tpl with context %}
{% set data = item %}
{% set _server_name = data.domains | default('_') %}
{% set _upstreams = data.upstreams | default({}) %}
{% set _logfiles = data.logfiles | default({}) %}
{% set _locations = data.locations | default([]) %}
{% set _listen = data.listen | default('80') %}

{% if data.name == "default" %}
server {
  server_name _;

{{ tpl.vhost_listen(80, True) | indent(0, first=False) }}
{{ tpl.vhost_logfile(_logfiles, item.name) | indent(0, first=False) }}

  {% if data.root is defined %}
  root          {{ data.root }};
  {% endif %}
  {% if data.index is defined %}
  index
    {{ data.index | join('\n') | indent(4, first=False) }};
  {% endif %}

  return        444;
}

{% else %}
  {% if _upstreams | count > 0 %}
{{ tpl.vhost_upstreams(_upstreams | default({})) }}
  {% endif %}

server {
{{ tpl.vhost_server_name(_server_name) }}
{{ tpl.vhost_listen(_listen) | indent(0, first=False) }}
{{ tpl.vhost_logfile(_logfiles, item.name) | indent(0, first=False) }}
  {% if data.includes is defined %}
    {% for inc in data.includes %}
  include             {{ inc }};
    {% endfor %}
  {%- endif -%}
  {% if data.root_directory is defined and data.root_directory | string | length > 0 %}
  root                {{ data.root_directory }};
  {% endif %}

  {% if data.index is defined %}
  index
    {{ data.index | join('\n') | indent(4, first=False) }};
  {% endif %}
  {% if nginx_acme.enabled %}
    {% if data.acme_challenge is defined and
          data.acme_challenge %}
  {{ tpl.vhost_acme(challenge_directory=nginx_acme.challenge_directory) }}
    {% endif %}
  {% endif %}
  {% if data.redirects is defined and
        data.redirects | bodsch.core.var_type == "list" and
        data.redirects | count > 0 %}
    {% for _redirect in data.redirects %}
      {% set _redirect_return_code = _redirect.get("return", "") %}
      {% set _redirect_location = _redirect.get("location", "") %}
      {% set _redirect_destination = _redirect.get("destination", "") %}
      {% set _redirect_raw = _redirect.get("raw", "") %}
      {% if _redirect_location %}
  location {{ _redirect_location }} {
        {% if _redirect_return_code %}
    return        {{ _redirect_return_code }}{% if _redirect_destination %} {{ _redirect_destination -}}{% endif %};
        {% endif %}
        {% if _redirect_raw %}
    {{ _redirect_raw | indent(4, first=False) }}
        {%- endif %}
  }
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if data.raw is defined %}
  {{ data.raw | indent(2, first=False) }}
  {% endif %}

{{ tpl.vhost_locations(_locations) | indent(0, first=False) -}}
}
{% endif %}
