# {{ ansible_managed }}

{% import 'jinja_macros.j2' as tpl with context %}
{% set data = item %}
{% set _server_name = data.domains | default('_') %}
{% set _logfiles = data.logfiles | default({}) %}
{% set _ssl = data.ssl | default({}) %}
{% set _locations = data.locations | default({}) %}
{% set _listen = data.listen | default(['443 ssl http2']) %}
{% set _listen_port = _listen | validate_listener('(quic|reuseport)','') %}
server {
{{ tpl.vhost_server_name(_server_name) | indent(0, first=False) }}
{{ tpl.vhost_listen(_listen_port, is_https=True) | indent(0, first=False) }}
{{ tpl.vhost_logfile(_logfiles, item.name) | indent(0, first=False) }}
{{ tpl.vhost_certificates(_ssl, item.name) | indent(0, first=False) }}
  {% if data.includes is defined %}

    {% for inc in data.includes %}
  include             {{ inc }};
    {% endfor %}
  {% endif %}
  {% if data.root_directory is defined and data.root_directory | string | length > 0 %}
  root                {{ data.root_directory }};
  {% endif %}
  {% if data.index is defined %}

  index
    {{ data.index | join('\n') | indent(4, first=False) }};
  {% endif %}

  {% if data.raw is defined %}
  {{ data.raw | indent(2, first=False) }}
  {% endif %}

{{ tpl.vhost_locations(_locations) | indent(0, first=False) }}
}

