---

name: Push to Ansible Galaxy

# on:
#   workflow_run:
#     workflows:
#       - "Code Linter"
#     types:
#       - completed

jobs:
  galaxy:
    name: Publish to Galaxy
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout the codebase
        uses: actions/checkout@v6.0.2
        with:
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: Publish
        uses: robertdebock/galaxy-action@1.2.1
        with:
          galaxy_api_key: ${{ secrets.galaxy_api_key }}
