---

name: Push to Ansible Galaxy

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
  workflow_run:
    workflows:
      - "CI"
    branches:
      - main
    types:
      - completed

jobs:
  galaxy:
    name: Publish to Galaxy
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout the codebase
        uses: actions/checkout@v6.0.2
        with:
          path: 'ansible-nginx'

      - name: Publish
        uses: robertdebock/galaxy-action@1.2.1
        with:
          galaxy_api_key: ${{ secrets.galaxy_api_key }}
